.App {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.082);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-header {
  width: 100%; 
  max-width: 959px;
  max-height: 110px; 
  padding: 0 20px; 
  border-radius: 80px !important;
}

.font-paris2024 {
  font-family: Paris2024-Variable;
  font-size: 4vw; 
  line-height: 1.2; 
}

.medal-tally{
background-color: white;
}

.medal-tally-text{
font-family: Paris2024-Variable;
font-size: 100px;
font-weight: 760;
line-height: 120px;
text-align: left;
color: #8F8250;

}

.btn-custom-color {
  background-color: #81378F !important;
  border-color: #81378F;
  color: #fff !important; 
  border-radius: 30px !important;
}
.btn-custom-color:hover {
  background-color: #6b2e76; 
  border-color: #6b2e76;
}

.btn-custom-viewmore{
  border-color: #81378F !important;
  color: #81378F !important;
  border-radius: 30px !important;

}

.schedule-text{
  font-family: Paris2024-Variable;
font-size: 100px;
font-weight: 760;
line-height: 120px;
text-align: left;
color: #AC88A7;

}

.card-mascot {
  width: 1656px;
  height: 752px;
  background-color: white;
  border-radius: 30px !important;
  margin: 132px;
}
.mascot-text{
  font-family: Paris2024-Variable;
  font-size: 80px;
  font-weight: 760;
  line-height: 105px;
  color: #81378F;

  
}
.description-text{
  font-family: Noto Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #212121;

}

.vertical-line{
  border-left: 1px solid #959595; 
  height: 100%;
}

.sports{
  background-color:  rgba(128, 128, 128, 0.082)
}
/* photo slider */

.photo-slider {
  position: relative;
}

.slider-container {
  display: flex;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 300px; 
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  
}

.active {
  transform: translateX(0);
}


.prev {
  left: 0;
  top:0;
  width: 58px;
height: 58px;
top: 9585px;
left: 133px;
gap: 0px;
opacity: 0px;
background-color:rgba(150, 4, 187, 0.719);
border-radius: 40px;
}

.next {
width: 106.91px;
height: 55px;
left: 198px;
gap: 0px;
opacity: 0px;
background-color:rgba(150, 4, 187, 0.719);
border-radius: 40px;

}

@media screen and (max-width: 768px) {
  .font-paris2024 {
    font-size: 6vw;
  }
}
@media screen and (max-width: 768px) {
  .App-header {
    font-size: calc(10px + 1.5vmin); /* Adjusted font size for smaller screens */
  }
  .font-paris2024 {
    font-size: 6vw; /* Adjusted font size for smaller screens */
  }
  .medal-tally-text {
    font-size: 6vw; /* Adjusted font size for smaller screens */
  }
  .schedule-text {
    font-size: 6vw; /* Adjusted font size for smaller screens */
  }
}


@media (max-width: 576px) {
  .mt-sm-6 {
    margin-top: 4rem;
  }
}